*{
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0px;
}

.image{
    width: 35%;
    background-color: orange;
}

.info{
    width:65%;
    display: grid;
    grid-template-rows: 30vh 50vh 17vh;
    padding: 1em 1em 1em 2em;
}

label{
    margin-bottom: 7px;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    gap: 10%;
    padding: 1em;
}

.left-elements{
    margin-left: 2em;
}

.elements{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.form-title{
    margin-bottom:2%;
}

.form{
    margin-bottom: 3vh;
}

button,input{
    font-family: inherit;
    font-size: 100%;
    width: 150px;
}

.login{
    padding: 1em 0em 0em 1em;
    margin-top: 2vh;
}

input{
    width: 30vh;
    border: 1px solid black;
    border-radius: 4px;
}

button{
    border: none;
    background-color: orange;
    border-radius: 10px;
    height: 50px;
}

button:hover{
    scale: 1.2;
    transition: 1s;
    transition-duration: 300ms;
}

input:invalid{
    border: 1px solid red;
    background-color: rgb(245, 188, 188);
}

input{
    border: 1px solid green;
    background-color: rgb(172, 252, 172);
}
