@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

*{
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0px;
}

.image{
    background-image: url(./image2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.logo{
    width: 100%;
    height: 30%;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    padding: 2% 0% 2% 0%;
}
    
img{
    height: 100%;
}

.info{
    width:60%;
    display: grid;
    grid-template-rows: 35vh 50vh;
}

.description-box{
    background: #a4bbba;
    background-clip: content-box;
    box-shadow: 0 10px 15px 0 lightgray;
    margin-bottom: 3%;
    
}

.description-box>div{
    padding: 1rem 1rem 0rem 2rem;
    font-family: 'Arvo', serif;
    font-size: xxx-large;
}

label{
    margin-bottom: 7px;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    gap: 10%;
    padding: 1em;
}

.left-elements{
    margin-left: 2em;
}

.elements{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.form-title{
    margin-bottom:2%;
}

.form{
    padding: 1em 1em 0em 2em;
}

button,input{
    font-family: inherit;
    font-size: 100%;
    width: 150px;
}

.login{
    margin-top: 2em;
    grid-row-start: 5;

}

div.login>div{
    align-self: flex-start;
}

input{
    width: 20vw;;
    height: 4vh;
    border: 1px solid black;
}

button{
    border: none;
    background-color: rgb(252, 181, 49);
    border-radius: 10px;
    height: 50px;
}

button:hover{
    scale: 1.2;
    transition: 1s;
    transition-duration: 300ms;
}

input:invalid{
    border: 1px solid red;
    background-color: rgb(243, 217, 217);
}

input:valid{
    border: 1px solid green;
    background-color: rgb(194, 236, 194);
}

input:focus{
    border: 1px solid rgb(58, 98, 185);
    background-color: white;
    outline: none;
    scale: 1.1;
    transition: 90ms;
    box-shadow: 100px;
}

button:focus{
    scale: 1.05;
    outline: none;
    transition: 90ms;
}
